* {
  box-sizing: border-box;
}

body {
  margin: 0;=
  font-size: 24px;
  font-family: Lato, Helvetica, Arial;
  color: white;
  bacgkround-color:  black;
}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  z-index: -2;
  background: url('../img/video-still.jpg') no-repeat center top fixed no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1;
}

.logo {
  margin: auto;
  width:  100%;
  margin-top: 8%;
  margin-bottom: 40px;
  text-align: center;
}

.logo div {
  display: inline-block;
}

.logo img {
  width:  100%;
  max-width: 350px;
}

.logo h1, .logo h2 {
  text-transform: uppercase;
}

.logo h1 {
  font-size: 72px;
  letter-spacing: 17px;
  word-spacing: 13px;
  margin-bottom:  0;
  margin-right: -16px;
  margin-left:  2px;
}

.logo h2 {
  font-size: 20px;
  font-weight:  lighter;
  letter-spacing: 5.5px;
  margin-top:  0;
  margin-right:  -5.5px;
}


main {
  width: 100%;
  max-width: 1300px;
  background: rgba( 0, 0, 0, 0.5);
  padding: 20px;
  margin:  auto;
  text-align: center;
} 

h1 {
  font-size: 38px;
}

h2 {
  font-size:  28px;
}

p {
  font-size: 19px;
  line-height: 28px;
}

.chains p {
  font-size: 17px;
}

a {
  color:  white;
  text-decoration: underline;
}

main .row div {
  background:  rgba( 0, 0, 0, 0.5);
  padding:  15px;
  margin:  15px;
  width:  40%;
  text-align: left;
  flex: 1; /* additionally, equal width */
}

.row {
  display: flex; /* equal height of the children */
}

@media only screen and (max-width: 960px) {

  .logo img {
    width: 50%;
  }

  .logo h1 {
    font-size: 48px;
    letter-spacing: 11px;
    word-spacing: 9px;
    margin-right: -11px;
    margin-left:  2px;
  }

  .logo h2 {
    font-size: 23px;
    letter-spacing: 4px;
    margin-right:  -4px;
    font-weight: light;
  }


 main .row div {
    width: auto;
  }

}




@media only screen and (max-width: 960px) {

  .row {
    display: block;
  }
  .row.chains {
    display: flex;
  }

}

@media only screen and (max-width: 600px) {

  .row.chains {
    display: block;
  }

  body main .row.chains div {
    width:  auto;
    max-width: none;
  }

}

.row div img {
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.row div h2 {
  margin-top: 0;
}

main .row.chains {
  justify-content: center;
} 


main .row.chains div {
  text-align: center;
  width:  100%;
  max-width: 390px;
  min-width:  auto; 
}

a.button {
  background-color: #2E9122;
  color: white;
  height:  32px;
  font-size: 18px;
  width:  120px;
  height:  35px;
  border-radius: 3px;
  border:  none;
  cursor: pointer;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
}

a.button:hover {
  background-color: #24751A;
}

footer {
  width: 100%;
  max-width: 1300px;
  padding: 20px 0;
  margin:  auto;
}

footer p:first-child {
  float:   left;
  margin-left:  20px;
}

footer p {
  float:   right;
  margin-right:  20px;
}
